body 				{ background-color: #ffffff; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; margin-left: 4px; margin-right: 4px; margin-top: 6px; margin-bottom: 6px; }

p 					{ font-family: Verdana, Arial, Helvetica, sans-serif; }

address 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt }

a					{}
a:active 			{ color: ;    }
a:link    			{ color: ; }
a:visited 			{ color: ;   }

form				{ display: inline; }
input				{}
textarea			{}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
span.print			{ font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }
span.small 			{ font-size: 8pt; font-weight: normal; }
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }

table				{ }
table.hide			{ width: 100%; border: solid 0px #ffffff; }
table.width100		{ width: 100%; border: solid 1px #000000; }
table.width75		{ width: 75%;  border: solid 1px #000000; }
table.width60		{ width: 60%;  border: solid 1px #000000; }
table.width50		{ width: 50%;  border: solid 1px #000000; }

td 					{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align:left;}
td.category			{ background-color: #c8c8e8; color: #000000; font-weight: bold; }
td.keyword		   { background-color: #c8c8e8; color: #000000; font-weight: bold; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category			{ background-color: #c8c8e8; color: #000000; font-weight: bold; vertical-align : top; }

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{ background-color: #ffffff; color: #000000; font-weight: bold; }
td.nopad			{ padding: 0px; }
td.spacer			{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; }
td.small-caption	{ font-size: 8pt; }
td.print			{ font-size: 8pt; text-align: left; padding: 2px; }
td.print-category	{ font-size: 8pt; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  {  text-align:center; }
tr.row-category2	{ background-color: #c8c8e8; color: #000000; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

tr.bugnote				{ vertical-align: top; }
td.bugnote-public		{ background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; }
td.bugnote-private		{ background-color: #e8e8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; }
td.bugnote-note-public	{ background-color: #e8e8e8; color: #000000; width: 75%; }
td.bugnote-note-private	{ background-color: #e8e8e8; color: #000000; width: 75%; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }

td.menu					{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

img						{}
img.icon				{ width: 11px; height: 11px; }

div						{ padding: 3px; }
div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.border-center		{ background-color: #ffffff; border: solid 1px #000000; text-align: center; width: 50%; position: relative; margin-right: auto; margin-left: auto; }

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.small					{ font-size: 8pt; }
.small-normal 			{ font-size: 8pt; font-weight: normal; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 8pt; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 8pt; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 8pt; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 8pt; }

body.wait *, body.wait {
    cursor: progress !important;
}

#sitebar {
    display: block;
    width: 100%;
    background-color: #555;
    height: 30px;
    overflow: hidden;
}

#sitebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sitebar li {
    list-style-type: none;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0;
    float: left;
    margin-right: 5px;
}

#sitebar li a {
    display: inline-block;
    color: #FFF;
    padding: 0px 3px;
    font: normal 13px / 20px arial, verdana, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

#sitebar li a:hover {
    text-decoration: none;
}

#sitebar li.selected a {
    color: #95C4A9;
}

.filter_dropdown {
    width:210px;   
}

#navtab {
    float: left;
    clear: left;
    margin: 2px 0 3px 0;
    padding: 0;
    border: 0;
    height: 29px;
}

#navtab>li {
    float: left;
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding: 0 35px 0 35px;
    margin: 0px 2px 0px 0px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    cursor: pointer;
    color: #003399;
    font-size: 14px;
    position: relative;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 75%, #F0F0F0 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 75%, #F0F0F0 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 75%, #F0F0F0 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.75, #FFFFFF), color-stop(1, #F0F0F0));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 75%, #F0F0F0 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 75%, #F0F0F0 100%);
}

#navtab>li.active {
    background: #666666;
    color: #fff;
}

#navtab>li.first {
    border-left: 1px solid #cccccc;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}

#navtab>li.last{
    border-right: 1px solid #cccccc;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}

#navtab li.active a{
    color: #fff;
    padding: 0 10px;
    display: block;
}

#navtab li ul li a:hover, #nav li ul li.active a{
    background-color: #919188;
    text-decoration: none;
}

#navtab li:hover ul{
    display: block;
}

/* Submit loading spinner*/
.loading-spinner {
  display: inline-block;
  width: 110px;
  height: 110px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 50%;
  border: 9px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

